.popup {
  display: none;
  position: fixed;
  z-index: 2;
  max-width: 100%;
  min-height: 100%;
  background-color: rgba(6, 7, 7, 0.5);
  margin: 0 auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 425px) {
  .popup {
    width: 282px;
    height: 322px;
  }
}