.profile__add-button {
  align-items: center;
  border: 2px solid #FFFFFF;
  background-image: url(../../../image/profile__add-button.svg);
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .profile__add-button {
    width: 282px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}