.profile__info-edit {
  grid-column: 2/3;
  background-image: url(../../../../image/profile__info_edit-button.png);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .profile__info-edit {
    width: 18px;
    height: 18px;
  }
}

.profile__info-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}