.popup__button-close {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: none;
  box-sizing: border-box;
  background-image: url(../../../image/popup__button-close.svg);
  background-position: center;
  background-color: #000000;
  color: #FFFFFF;
  width: 32px;
  height: 32px;
  padding: 0;
  transform: translateY(-35px) translateX(435px);
}

@media screen and (max-width: 425px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    transform: translateY(-35px) translateX(265px);
  }
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}