.popup__button-close {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: none;
  box-sizing: border-box;
  background-image: url(../../../image/popup__button-close.svg);
  background-position: center;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
  padding: 0;
  transform: translateY(-45px) translateX(435px);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    transform: translateY(-25px) translateX(260px);
  }
}

.popup__button-close:hover {
  opacity: 0.6;
}