.profile__add-button {
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .profile__add-button {
    width: 282px;
  }
}